@import  '../../../public/mixins.scss';

.BodyMenuContainer{
  background-color: #1f3540;
  width: 85%;
  border-radius: 11px;
  box-shadow: 0px 5px #102129;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    width: 45%;
  }
  @include desktop {
    width: 45%;
  }
}

.BodyMenuContainer > .Title{
  color: #97adb8;
}

.BodyMenuContainer > .Info{
  color: #485e69;
}

.MarkPikerContainer {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  background-color: #192a32;
}