@import  '../../../public/mixins.scss';

.BtnMenu {
  background-color: #1f3540;
  border-radius: 11px;
  padding: 15px;
  width: 85%;
  border: none;
  margin: 10px;
  cursor: pointer;
  @include tablet {
    width: 45%;
  }
  @include desktop {
    width: 45%;
  }
}