.Tablero {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem 6rem 6rem;
  grid-template-areas: 
  "logo turno reinicio"
  "main main main"
  "main main main"
  "main main main"
  "footer footer footer";
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: #192a32;
  height: 100vh;
  align-content: center;
}